@model HomeViewModel

<partial name="_Carousel" />

<h2>Pies of the week</h2>
<h2>Our weekly selection - just for you!</h2>

<div class="row">
    @foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }
</div>