@model HomeViewModel

<partial name="_Carousel" />

<h2>Ciasta tygodnia</h2>
<h2>Nasz cotygodniowy wybór - właśnie dla Ciebie!</h2>

<div class="row">
    @foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }
</div>