@model Category

    @*<div class="form-group">
        <label asp-for="CategoryName"></label>
        <select class="form-control" asp-for="CategoryName"
                asp-items="Model."></select>
        <span class="text-danger" asp-validation-for="CategoryName"></span>
    </div>*@